@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');


.article-card {
  height: 100%; 
  overflow: auto;
  padding: 4vmin;
  
}

.article-card-abstract {
  text-align: left;
}

.article-card-readmore {
  margin: 5vmin;
}

.article-card-title {
font-family: 'Philosopher', sans-serif;
}