.jump-to-top-button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 1.2vmin;
  margin: 0;
}

.jump-to-top-button:hover {
  background-color: rgba(170, 206, 250, 0.872);
}