.book-list-item {
  margin: 3vmin;
  background-color: rgb(237, 238, 238);
  padding: 3vmin;
}

.book-list-image {
  border-radius: 1vmin;
  height: 40vmin;
  width: auto;
  box-shadow: 1vmin 1vmin black;
  margin: 3vmin;
}

.book-list-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  list-style-type: none;
  width: 50%;
  overflow-wrap: break-word;
  overflow: scroll;
  padding: 1vmin;
  text-align: center;
}

.book-list-purchase-item {
  padding: 2vmin;
  margin: 2vmin;
  background-color: rgb(238, 235, 235);
}

.book-list-modal-button {
  margin: 1vmin;
  padding: 2vmin;
}