@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif:wght@700&display=swap');

.header-top {
  align-items: center;
  background-color: rgb(3, 5, 12);
  padding-top: 2vmin;
}

.header-logo {
  color: orange;
  font-family: 'Anton', sans-serif;;
  font-size: 8vmin;
}

.header-slogan {
  padding: 5vmin;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
}

.header-slogan-large {
  font-size: 7vmin;
}
.header-slogan-small {
  font-size: 3vmin;
}

a {
  text-decoration: none;
}
