.NewsCollection {
  background-color: white;
  margin-left: 8vmin;
  margin-right: 8vmin;
  padding: 6vmin;
}

.news-collection-loader {
  margin: 10vmin;
  padding: 5vmin;
}

.news-collection-submit,
.news-collection-load-more,
.news-collection-button-top, 
.news-collection-sort-button {
  text-decoration: none;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border: grey solid 1px;
  padding: 1vmin;
}

.news-collection-submit {
  padding: 1vmin;
}

.news-collection-load-more {
  margin: 5vmin;
  padding: 2vmin;
}

.news-collection-input, .news-collection-sort-button {
  padding: 1vmin;
  margin: 2vmin;
}
.news-collection-submit:hover,
.news-collection-load-more:hover,
.news-collection-sort-button:hover {
  background-color: rgba(170, 206, 250, 0.872);
}
