
.article-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 5vmin;
}

.article-list-item {
  align-self: auto;
  width: 25%;
  margin: 3vmin;
  height: 30%;
}